html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

a,
a:visited {
  text-decoration: none;
  font-family: $font-primary;
  font-size: inherit;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: $font-primary;
  font-size: inherit;
}
