// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$font-primary: "Poppins", sans-serif;

// Colors
$heading: #000000;
$paragraph: #575455;
$attention: #f75c4e;
$btn-content: #1f7cff;
$white: #ffffff;
$input-bg: #f5f6fb;
$dark: #070f18;
